<div class="oppia-send-a-lesson-feedback" *ngIf="isUserLoggedIn">
  <div class="modal-header oppia-lesson-feedback-header">
    {{ 'I18N_LESSON_FEEDBACK_MODAL_TITLE' | translate }}
    <p class="oppia-lesson-feedback-microcopy">
      {{ 'I18N_LESSON_FEEDBACK_MODAL_SUBTITLE' | translate }}
    </p>
  </div>

  <div class="modal-body">
    <p class="oppia-lesson-feedback-microcopy">
      {{ 'I18N_LESSON_FEEDBACK_MODAL_SAFETY_NOTICE' | translate }}
    </p>
    <textarea [(ngModel)]="feedbackText"
              class="oppia-lesson-feedback-textarea"
              rows="5"
              [attr.maxlength]="MAX_REVIEW_MESSAGE_LENGTH"
              aria-label="Send feedback to the Lessons Team"
              placeholder="{{ 'I18N_LESSON_FEEDBACK_MODAL_TEXTAREA_PLACEHOLDER' | translate }}">
    </textarea>
    <div class="oppia-lesson-feedback-character-count">
      {{ feedbackText.length }} / {{ MAX_REVIEW_MESSAGE_LENGTH }}
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeModal()">
        {{'I18N_MODAL_CANCEL_BUTTON' | translate}}
    </button>
    <button class="btn btn-success"
            (click)="sendFeedback()"
            [disabled]="!isFeedbackFormValid()">
      {{ 'I18N_PLAYER_REPORT_MODAL_FOOTER_SUBMIT' | translate }}
    </button>
  </div>
</div>

<div class="oppia-guest-feedback" *ngIf="!isUserLoggedIn">
  <div class="modal-header oppia-lesson-feedback-header border-bottom-0">
    {{ 'I18N_LESSON_FEEDBACK_GUEST_TITLE' | translate }}
    <p class="oppia-lesson-feedback-text">
      {{ 'I18N_LESSON_FEEDBACK_GUEST_SUBTITLE' | translate }}
    </p>
    <div class="oppia-guest-feedback-body">
      <button class="oppia-guest-signup-btn"
              tabindex="0"
              (click)="signIn()">
        {{ 'I18N_LESSON_FEEDBACK_SIGN_IN_BUTTON' | translate }}
      </button>
      <button class="oppia-guest-continue-btn"
              (click)="closeModal()">
        {{ 'I18N_LESSON_FEEDBACK_CONTINUE_AS_GUEST_BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
