<div class="oppia-site-feedback-modal">
  <div class="modal-header oppia-site-feedback-header">
    <div class="oppia-site-feedback-header-left">
      <div class="oppia-site-feedback-header-icon">
        <mat-icon aria-hidden="true">flag</mat-icon>
      </div>
      <div>
        <h3>{{ 'I18N_FOOTER_REPORT_WEBSITE_ISSUE' | translate }}</h3>
        <p>
            {{'I18N_REPORT_WEBSITE_ISSUE_SUBTITLE' | translate}}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-body oppia-site-feedback-body">

    <textarea id="flagMessageTextarea"
              rows="5"
              [(ngModel)]="reportMessage"
              [ngModelOptions]="{standalone: true}"
              [attr.maxlength]="MAX_REPORT_MESSAGE_LENGTH"
              class="form-control oppia-site-feedback-textarea"
              placeholder="{{ 'I18N_REPORT_WEBSITE_ISSUE_TEXTAREA_PLACEHOLDER' | translate }}"
              oppiaFocusOn="flagMessageTextarea">
    </textarea>
    <div class="oppia-character-count">
      {{ reportMessage.length }} / {{ MAX_REPORT_MESSAGE_LENGTH }}
    </div>

    <div class="oppia-feedback-section">
      <div class="oppia-feedback-label">
        {{'I18N_REPORT_LESSON_BUG_SCREENSHOT_LABEL' | translate}} {{'I18N_REPORT_LESSON_BUG_OPTIONAL_LABEL' | translate}}
      </div>
      <div class="oppia-feedback-screenshot">
        <div *ngIf="!screenshotPreviewDataUrl">
          <oppia-image-receiver
            [allowedImageFormats]="allowedScreenshotImageFormats"
            [maxImageSizeInKB]="maxScreenshotSizeInKB"
            (fileChanged)="onScreenshotFileReceived($event)">
          </oppia-image-receiver>
        </div>
        <div *ngIf="screenshotPreviewDataUrl"
             class="oppia-feedback-screenshot-preview">
          <button type="button"
                  class="btn btn-secondary oppia-feedback-screenshot-remove-button"
                  aria-label="Remove screenshot"
                  (click)="removeScreenshot()">
            <i class="fas fa-times oppia-vcenter"></i>
          </button>
          <img [src]="screenshotPreviewDataUrl" alt="Feedback Screenshot preview">
        </div>
        <div *ngIf="screenshotFileError" class="oppia-feedback-error-text">
          {{ screenshotFileError | translate }}
        </div>
        <div *ngIf="isUploadingScreenshot" class="oppia-feedback-upload-text">
          {{'I18N_REPORT_LESSON_BUG_UPLOADING_SCREENSHOT' | translate}}
        </div>
      </div>
    </div>

    <label class="oppia-site-feedback-technical-logs-checkbox">
      <input type="checkbox"
             [(ngModel)]="includeTechnicalLogs"
             [ngModelOptions]="{standalone: true}">
      <span>{{'I18N_TECHNICAL_ERROR_LOG_CHECKBOX_TEXT' | translate}}</span>
    </label>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary"
            (click)="closeModal()">
        {{'I18N_MODAL_CANCEL_BUTTON' | translate}}
    </button>
    <button class="btn btn-success"
            (click)="submitReport()"
            [disabled]="!isReportFormValid()">
      {{ 'I18N_PLAYER_REPORT_MODAL_FOOTER_SUBMIT' | translate }}
    </button>
  </div>
</div>
